<h1>Books</h1>

<table class="table">

  <thead>

    <th>Title</th>

    <th>Body</th>

    <th><!--function--></th>

  </thead>

  <tbody>
  
  <% @books.each do |book| %>

  <tr class>

    <div class = "td-text">

    <td width="25%"><%= book.title %></td>

    <td width="60%"><%= book.body %></td>

    </div>

    <td class ="tab"><%= link_to "Show", book_path(book) %>  <%= link_to "Edit", edit_book_path(book) %>  <%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "Are you sure?" %></td>

  </tr>

<% end %>

  </tbody>

</table>

<%= render 'books/new' %>